@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #f0f4f8, #d9e2ec);
  min-height: 100vh;
  margin: 0;
  padding: 30px 20px;
  display: block;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 12px;
  margin-bottom: 30px;
}

.header img {
  height: 45px;
  margin-right: 12px;
}

.nama-sekolah {
  font-size: 22px;
  font-weight: 600;
}